<div id="component-preview">
  {{!> example-output }}
  <script>
  window.addEventListener('load', function () {
    require('react-dom').render(require('example'),document.getElementById('component-preview'));
  });
  </script>
</div>
